@import "tailwindcss";

@font-face {
  font-family: "Libre Baskerville";
  src: url(/fonts/Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf);
}

@theme {
  --font-serif: "Libre Baskerville", sans-serif;
  --color-grey-400: #7d7d7d;
  --color-grey-200: #d8d8d8;
  --color-grey-150: #e5e5e5;
  --color-grey-100: #f3f3f3;
}

.container {
  max-width: 1440px;
}

/* @view-transition {
  navigation: auto;
} */

/* ::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}

::view-transition-old(root) {
  animation-name: fade-out;
}

::view-transition-new(root) {
  animation-name: fade-in;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
} */

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
